doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/nav-bar.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    #nav-bar
      input#nav-toggle(type='checkbox')
      #nav-header
        a#nav-title(href='https://codepen.io' target='_blank').
          C#[i.fab.fa-codepen] CIFRADOTEXT
        label(for='nav-toggle')
          span#nav-toggle-burger
        hr
      #nav-content
        .nav-button #[i.fas.fa-palette]#[span Mis Cifrados]
        .nav-button #[i.fas.fa-images]#[span Assets]
        .nav-button #[i.fas.fa-thumbtack]#[span Pinned Items]
        hr
        .nav-button #[i.fas.fa-heart]#[span Following]
        .nav-button #[i.fas.fa-chart-line]#[span Trending]
        .nav-button #[i.fas.fa-fire]#[span Compras]
        .nav-button #[i.fas.fa-magic]#[span Configuraciones]
        hr
        .nav-button #[i.fas.fa-gem]#[span Cifrado pro]
        #nav-content-highlight
      input#nav-footer-toggle(type='checkbox')
      #nav-footer
        #nav-footer-heading
          #nav-footer-avatar
            img(src='https://static.nationalgeographic.es/files/styles/image_3200/public/40411.ngsversion.1467941362865.webp?w=760&h=507')
          #nav-footer-titlebox
            a#nav-footer-title(href='https://codepen.io/uahnbu/pens/public' target='_blank') Alvaro
            span#nav-footer-subtitle Admin
          label(for='nav-footer-toggle')
            i.fas.fa-caret-up
        #nav-footer-content
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
